Package: big-lxqt-tweaks
Version: 1.0.0-2big6
Architecture: all
Maintainer: Bruno Goncalves <bigbruno@gmail.com>
Section: admin
Priority: optional
Installed-Size:4040
Description: Improvements to lxqt


