Package: big-lxqt-tweaks
Version: 1.0.0-1big1
Architecture: all
Maintainer: Bruno Goncalves <bigbruno@gmail.com>
Section: admin
Priority: optional
Installed-Size:6176
Description: Improvements to lxqt


