Package: big-lxqt-tweaks
Version: 1.0.0-2big0
Architecture: all
Maintainer: Bruno Goncalves <bigbruno@gmail.com>
Section: admin
Priority: optional
Installed-Size:3964
Description: Improvements to lxqt


